{templateType Stepapo\Visualization\Control\Visualization\VisualizationTemplate}

<div class="override-padding" n:snippet>
    {control columnPicker}
    {control valuePicker}
    {control filterList}
    {control chart}
</div>
