{templateType Stepapo\Visualization\UI\Visualization\Visualization\VisualizationTemplate}

{snippet}
    {control rowPicker}
    {control columnPicker}
    {control valuePicker}
    {control filterList}
    {control chart}
{/}
